<div class="resume">
    <div class="about">
        <div class="desc">
            <h1>{{ coderbits['name'] }}</h1>
            <h3>{{ coderbits['title'] }}</h3>
            <p>{{ coderbits['bio'] }}</p>
        </div>
        <div class="contact">
                {% if coderbits['location'] != '' %}
                    {{ coderbits['location'] }}<br>
                {% endif %}
                <i>{{email }}</i><br>
                {% if coderbits['website_link'] != '' %}
                    <i><u>{{ coderbits['website_link'] }}</u></i><br><br>
                {% endif %}
                Online resume: <i><u>{{ coderbits['link'] }}</u></i>
        </div>
    </div>
    {% for url in img_urls %}
        {% if (img_urls.index(url))%2==0 %}
            <div class="charts">
        {% endif %}
        <div class="chart">
            <img src="{{ url }}" style="margin: 0 auto;"/>
        </div>
        {% if (img_urls.index(url))%2==1 %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="projects">
        <h2>Projects</h2>
        {% for repo in github %}
        <div class="repo">  
            <div class="repo-info">
                <h3>{{ repo['name'] }}</h3>
                <p>{{ repo['description'] }}</p>
            </div>
            <div class="repo-stats">
                <br>
                {% if repo['homepage'] != '' and repo['homepage']!=None %}
                    Homepage: <i><u>{{ repo['homepage'] }}</u></i><br>
                {% endif %}
                Code: <i><u>{{ repo['html_url'] }}</u></i><br>
                {% if repo['language']!=None %}
                    Language: {{ repo['language'] }}<br>
                {% endif %}
                {% if repo['watchers_count']>0 %}
                    Followers: {{ repo['watchers_count'] }}<br>
                {% endif %}
                {% if repo['forks_count']>0 %}
                    Forks: {{ repo['forks_count'] }}<br>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
