.resume {
    width: 100%;
    height: 100%;
    }

.about {
    width: 100%;
    height: auto;
    }

.intro {
    width: 70%;
    height: auto;
    float: left;
    }

.links {
    width: 30%;
    height: auto;
    margin-right: 0;
    }

li {
    list-style-type: none;
    }

.projects {
    width: 100%;
    height: auto;
    }

#project {
    width: 100%;
    height: auto;
    }

.charts {
    width: 100%;
    height: auto;
    }

#chart {
    width: 300px;
    height: 150px;
    }
