.resume {
    width: 600px;
    height: 100%;
    margin: 0;
    }

.about {
    width: 100%;
    height: auto;
    margin: 0;
    }

.intro {
    width: 70%;
    height: auto;
    margin: 0;
    }

.links {
    width: 30%;
    height: auto;
    margin: 0;
    }

li {
    list-style-type: none;
    margin: 0;
    }

.projects {
    width: 100%;
    height: auto;
    margin: 0;
    }

#project {
    width: 100%;
    height: auto;
    margin: 0;

.graphs {
    width: 100%;
    height: auto;
    margin: 0;
    }

#graph {
    width: 300px;
    height: 150px;
    margin: 0;
    }
